<%= form_for @store do |f| %>
  <% if @store.errors.any? %>
    <ul>
    <% @store.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>
  <div class="input-field col s12">
    <%= f.text_field :name, autofocus: true %>
    <label for="name">Nome</label>
  </div>

  <div class="input-field col s12">
    <%= f.text_field :location, autofocus: true, id: "address" %>
    <label for="name">Posizione</label>
  </div>

  <div class="#">
         <div class="file-field input-field gallery_picture">

        <div class="btn">

          <span>Upload file</span>
          <%= f.file_field :image %>
          </div>
        <input class="file-path validate" type="text"/>
        </div>

    </div> 

  <div class="actions">
    <br/>
    <%= f.submit "Crea Negozio",class: "waves-effect waves-light btn"%>
  </div>

<% end %>
