<%= form_for @store do |f| %>
  <% if @store.errors.any? %>
    <ul>
    <% @store.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location, autofocus: true, id: "address" %>
  </div>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up",class: "waves-effect waves-light btn"%>
  </div>

<% end %>
