<%s=Store.find(store.id)%>
<div name='store' id='<%=store.id%>' s='<%= s.name%>' loc='<%= s.location%>'>

  <div class="col s12 m7">
    <h4 class="header"><%= s.name %></h4>
    <div class="card horizontal">
      <div class="card-image">
        <% if store.image.superpic.url!=nil %>
        <%= image_tag store.image.propic.url %>
        <%else%>
        <%= image_tag 'nopropic.jpg', style: "width: 150px; height: 150px;" %>
        <% end %>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>proprietrio: <%= s.owner.username%><br/></p>
          situato in : <%=s.location%>

          <br/>
        </div>
        <div class="card-action">
          <%= button_to 'vai al negozio', store_path(store), method: :get, class: "waves-effect waves-light btn-large"%>
        </div>
      </div>
    </div>
  </div>
</div>
