<h4>Ricerca avanzata</h4>
<%= form_tag stores_path, method: :get do %>
punto di partenza<br/>
<%= text_field_tag :location,params[:location], id: 'address' %> <br />
Cerca negozio<br/>
<%= text_field_tag :name,params[:name] %> <br />
tipologia di prodotto<br/>
<%=text_field_tag :type, params[:type] %> <br />
<br/>

<%= radio_button_tag(:view, "distance",class: "with-gap") %>
<%= label_tag(:view_distance, "visualizza in ordine di distanza") %>
<%= radio_button_tag(:view, "like",class: "with-gap") %>
<%= label_tag(:view_like, "visualizza in ordine di gradimento") %>
<%= radio_button_tag(:view, "map",class: "with-gap") %>
<%= label_tag(:view_map, "visualizza sulla mappa") %>
<br/>
<%= submit_tag "cerca", class: "waves-effect waves-light btn" %>
<% end %>
<br/><br/>
