<!DOCTYPE html>
<html>
  <head>
    <title>SocialFlayer</title>
    <%=favicon_link_tag "favicon.ico"%>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9DIhdJpFjMX2Kl7W2qf4pjYivfJah8y8&libraries=places"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

    <body onload="autocomplete()" >
      <% if user_signed_in? %>

  <ul id="dropdown1" class="dropdown-content">
    <li><span class="teal-text" >Logged in as <%= current_user.email%></span></li>
    <li><span class="teal-text" >with role: <%= current_user.roles_mask %><span class="teal-text" ></li>
      <li class="divider"></li>
    <li><%= link_to edit_user_registration_path do %> <i class="material-icons">mode_edit</i> edit <%end%></li>
      <li class="divider"></li>
    <li><%= link_to destroy_user_session_path, :method => :delete do%><i class="material-icons">input</i> log_out <%end%></li>

    <% if can? :admin,User%><li>  <%= link_to "homepage admin", admin_path%></li>  <%end%>
  </ul>
  <%end%>

      <div class="navbar-fixed">
        <nav class="nav-extended  teal darken-4">
        <div class="nav-wrapper">
          <%= link_to root_path,class:"brand-logo" do%> <%=image_tag "logoSC.png",height:"77px;",width:"87px;"%><%end%>
          <% if user_signed_in? %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= render 'shared/back' %> </li>
            <li><%= render 'shared/change' %></li>
            <li> <%= link_to new_store_path,class: "btn-floating btn-large waves-effect waves-light red"  do %> <i class="material-icons cyan darken-3">add</i> crea negozio<%end%> </li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">            __ Menu __         <i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
        <div class="nav-content teal darken-3">
          <nav>
        <div class="input-field teal darken-3">
          <%= render "shared/search"%>
          <i class="material-icons">search</i>
        </div>

  </nav>
  <%end%>
        </div>
      </nav>

  </div>

<br/><br/><br/><br/><br/><br/>
<div class="container ">
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="allert"><%= flash[:alert] %></div>
    <% end %>



      <%= yield %>
</div>

  </body>
</html>
