<!DOCTYPE html>
<html>
  <head>
    <title>SocialFlayer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9DIhdJpFjMX2Kl7W2qf4pjYivfJah8y8&libraries=places"></script>


  </head>

  <body>
      <body onload="autocomplete()">
    
    <% if user_signed_in? %>
      <%= render 'shared/back' %>
      <%= render 'shared/change' %>
    <% end %>
    <%= yield %>
    <% if user_signed_in? %>
     Logged in as <%= current_user.email%> with role: <%= current_user.roles_mask %> [<%= link_to 'Edit', edit_user_registration_path%>,<%= link_to 'Logout',  destroy_user_session_path, :method => :delete%>]
    <% end %>
  </body>
</html>
