<!DOCTYPE html>
<html>
  <head>
    <title>SocialFlayer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  </head>

    <body onload="autocomplete()">
      <% if user_signed_in? %>
      <div class="navbar-fixed">
        <nav class="nav-extended  teal darken-4">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Logo</a>
          
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a><%= render 'shared/back' %> </a></li>
            <li> <a><%= render 'shared/change' %></a></li>
            
          </ul>
         
        </div>
        <div class="nav-content teal darken-3">
          <nav>
      <form>
        <div class="input-field teal darken-3">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>

  </nav>
        </div>
      </nav>

  </div>
  <% end %>

<br><br><br><br>
<div class="container ">
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="allert"><%= flash[:alert] %></div>
    <% end %>
    
      
    
      <%= yield %>
</div>
<% if user_signed_in? %>
<footer class="page-footer teal darken-3">
<div class="footer-copyright  teal darken-4">
  <div class="container">


     <h5 class="header col s12 light">Logged in as <%= current_user.email%> with role: <%= current_user.roles_mask %> [<%= link_to 'Edit', edit_user_registration_path%>,<%= link_to 'Logout',  destroy_user_session_path, :method => :delete%> <% if can? :admin,User%> <%= link_to "homepage admin", admin_path%> <%end%> ]</h5>

  </div>
</div>
</footer>
<% end %>
  </body>
</html>
