<div class="section no-pad-bot">
    <div class="container">
<div class="row center">
        <div class="center s12 m7">
          <div class="card horizontal">

            <div class="card-image waves-effect waves-block waves-light">

              <% if @cu.image.thumb.url!=nil %>
              <%= image_tag @cu.image.propic.url %>
              <%else%>
              <%= image_tag 'nopropic.jpg', width:150, height:150, class:"activator" %>
              <% end %>

            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"> Ciao <%= @cu.username%>! <i class="material-icons right">more_vert</i></span>
              <p><%= form_tag users_path, class: "input-field", method: :get do %>
                 <%= text_field_tag :username ,params[:username], id:"nome"  %>
                 <label class="active" for="username">Cerca utente</label>


               <% end %></p>

            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Informazioni di contatto <i class="material-icons right">close</i></span>
                <p> <%= @cu.name %> <%= @cu.surname%>, email: <%= @cu.email%>, id: <%= @cu.id%> <p>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>

  <div class="container">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <div class="card">
    <div class="card-content">
      <span class="card-title center activator grey-text text-darken-4">
        <h2 class="center black-text"><i class="material-icons">store</i></h2>
      </span>
      <h5 class="center"> Negozi seguiti <h5>
      <h5 class="center"> <%= @followings.count %> </h5>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
      <p><ul>
        <% @followings.each do |followati| %>

     <li > <%=link_to Store.find(followati.store_id).name, store_path(followati.store_id) %> </li>
    <%end%>
      </ul>
    </p>
    </div>
  </div>

            </div>
          </div>


          <div class="col s12 m4">
            <div class="icon-block">
              <div class="card">
    <div class="card-content">
      <span class="card-title center activator grey-text text-darken-4">
        <h2 class="center black-text"><i class="material-icons">group</i></h2>
      </span>
      <h5 class="center"> Followed <h5>
      <h5 class="center"> <%= @user_follow.where(follower_id: @cu.id).count %> </h5>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
      <p>
        <% @user_follow.where(follower_id: @cu.id).each do |f| %>
        <%=link_to User.find(f.followed_id).username, user_path(f.follower_id)%>
      <%end%>
    </p>
    </div>
  </div>

            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <div class="card">
    <div class="card-content">
      <span class="card-title center activator grey-text text-darken-4">
        <h2 class="center black-text"><i class="material-icons">group</i></h2>
      </span>
      <h5 class="center"> Follower <h5>
      <h5 class="center"> <%= @user_follow.where(followed_id: @cu.id).count %> </h5>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
      <p>
        <% @user_follow.where(followed_id: @cu.id).each do |f| %>
          <%=link_to User.find(f.follower_id).name, user_path(f.followed_id)%>
        <%end%>
    </p>
    </div>
  </div>



              <p class="light"></p>
            </div>
          </div>
        </div>

      </div>
    </div>




    <div class="section no-pad-bot">
          <div class="container">
            <div class="row center">
              <div class="center s12 m7">
                <div class="card">

                  <div class="card-content">
                    <span class="card-title center activator grey-text text-darken-4">
                      <h3 class="center black-text"><i class="material-icons">speaker_notes</i></h3>
                    </span>
                    <h5 class="center"> Inviti </h5>
                    <h5 class="center"> <%= @works_pendent.count %></h5>
                  </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                      <p> <ul>
                        <% @works_pendent.each do |w| %>
                          <li id='work<%=w.id%>'><%= Store.find(w.store_id).name %><%= link_to 'acceta la richiesta', chooseyes_store_path(w.store_id), method: :post %>, <%= link_to 'declina', chooseno_store_path(w.store_id), method: :post, remote: true %></li><br/>
                        <% end %>
                      </ul> <p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



<div class="container">
    <div class="section">

      <div class="row" >
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
         <h4>Notizie</h4>
         <p class="left-align light" > <%@list.each do |l|%>

           <%if l.class == Comment%>
             <%= render "comments/comment", comment: l, store: true %>
           <%elsif l.class == Store%>
             <%= render "stores/store", store: l %>
           <%elsif l.class == Respond%>
             <%= render "responds/respond", respond: l%>
           <% elsif l.class == Product%>
             <%= render "products/product", product: l%>
           <%elsif l.class == FollowStore %>
             l'utente <%= link_to ""+User.find(l.user_id).username, user_path(l.user_id) %> segue il negozio <%=link_to ""+Store.find(l.store_id).name, store_path(l.store_id)%>
           <%elsif l.class == ActsAsVotable::Vote%>
             l'utente <%= link_to User.find(l.voter_id).username, user_path(l.voter_id)%> ha votato <%=link_to ""+Store.find(l.votable_id).name, store_path(l.votable_id)%> <%= User.find(l.voter_id).voted_up_on? Store.find(l.votable_id) %>
           <%elsif l.class == FollowProduct%>
            l'utente <%= link_to ""+User.find(l.user_id).username, user_path(l.user_id) %> segue il prodotto <%=link_to Product.find(l.product_id).name, store_product_path(Product.find(l.product_id).store_id,l.product_id)%> esposto dal negozio <%=link_to ""+Store.find(Product.find(l.product_id).store_id).name, store_path(Product.find(l.product_id).store_id)%>
           <%end%><br/>
           data:<%= l.updated_at %><br/>
         ____________________________________________________________<br/>
         <%end%> </p>
        </div>
      </div>
      </div>
</div>





<br/>
