<%= @cu.id%> <br/>
<%= @cu.email%> <br/>
<%= @cu.username%> <br/>
<%= @cu.surname%> <br/>
<%= @cu.name %> <br/>

<div>
  <%= render 'shared/search' %>
</div>
<%= link_to 'Crea negozio', new_store_path %>
