<%= @cu.id%> <br/>
<%= @cu.email%> <br/>
<%= @cu.username%> <br/>
<%= @cu.surname%> <br/>
<%= @cu.name %> <br/>

<div id='followandi'>
   <ul>
     <% @followings.each do |followati| %>

		<li >negozio seguito  ------    <%=Store.find(followati.store_id).name %> </li>
	<%end%>
   </ul>
</div>

<div>
  <%= form_tag users_path, method: :get do %>
     cerca amigo da followare che non paga afito :D
     <%= text_field_tag :nome ,params[:nome], id:"nome"  %>
     <%= text_field_tag :cognome,params[:cognome], id:"cognome"  %>
     <%= submit_tag "cerca", id: "submit"%>
   <% end %>

</div>

<div>
  <%= render 'shared/search' %>
</div>

<br/>
richieste
<div id='works_pendent'>
  <ul>
    <% @works_pendent.each do |w| %>
      <li id='work<%=w.id%>'><%= Store.find(w.store_id).name %><%= link_to 'acceta la richiesta', chooseyes_store_path(w.store_id), method: :post %>, <%= link_to 'declina', chooseno_store_path(w.store_id), method: :post, remote: true %></li><br/>
    <% end %>
  </ul>
</div>

<div id='new_store'>
  <%= link_to 'Crea negozio', new_store_path, remote: true %>
</div>
