<%= form_for (prod), url: path, remote: true do |f| %>
  <% if prod.errors.any? %>
    <ul>
    <% prod.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price  %>
  </div>

  <div class="field">
    <%= f.label :duration_h %><br />
    <%= f.text_field :duration_h   %>
  </div>

  <div class="field">
    <%= f.label :type_p %> <br/>
    <%= f.text_field :type_p %>
  </div>

  <div class="field">
    <%= f.label :feature %><br />
    <%= f.text_area :feature   %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
    <%= link_to 'back', store_path(params[:store_id]) %>
  </div>
  <%end%>
